{
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-bigint"
  ],
  "env": {
    "cjs": {
      "presets": [
        "babel-preset-minify"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "es": {
      "presets": [
        "babel-preset-minify"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
